body {
  background-color: #2C3E50;
  padding: 20px;
  margin: 0;
  font-style: italic;
}
h1 {
    color: #19B5FE;
    letter-spacing: 3px;
    
}
h1, h2, p, ul, li {
  font-family: Helvetica, Arial, sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  padding: 10px;
}
ul.header {
  background-color: #22313F;
  color: #19B5FE;
  padding: 7px;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #6BB9F0;
  padding: 20px;
  color: #22313F;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}